{% extends 'base/main.html' %}

{% block title %}
    Recents
{% endblock %}

{% block header_display %}

    {% include 'base/header.html' with authed=True active='recent' %}

{% endblock %}

{% block content %}
    <main class="recentplaces" role="main">

        {% include 'authed/recentplaces/header.html'%}

        {% include 'authed/recentplaces/search.html'%}

        {% include 'authed/recentplaces/cards.html'%}

        {% include 'components/authed/pagination.html'%}
        
        {% include 'authed/recentplaces/empty.html'%}

    </main>
{% endblock %}

{% block footer_display %}

    {% include 'base/footer.html' with authed=True only %}

{% endblock %}