<section class="searchplaces__filters" aria-label="Filter by Weather Type">
  <ul class="weather-filters" role="list">
    <li>
      <button class="weather-filter weather-filter--hot" aria-label="Hot">
        🌞 Hot
      </button>
    </li>
    <li>
      <button class="weather-filter weather-filter--normal" aria-label="Normal">
        ☁️ Normal
      </button>
    </li>
    <li>
      <button class="weather-filter weather-filter--cold" aria-label="Cold">
        ❄️ Cold
      </button>
    </li>
  </ul>
</section>
