{% extends 'base/main.html' %}

{% block title %}
    Profile
{% endblock %}

{% block header_display %}

    {% include 'base/header.html' with authed=True active='profile' %}

{% endblock %}

{% block content %}
    
<main class="profile-container" role="main" aria-label="User Profile">
    <div class="profile-card">

        {% include 'authed/profile/header.html'%}
        
        {% include 'authed/profile/form.html'%}

    </div>
</main>
{% endblock %}

{% block footer_display %}

    {% include 'base/footer.html' with authed=True only %}

{% endblock %}