<!-- Search & Filter Bar -->
<section
  class="savedplaces__controls"
  role="region"
  aria-label="Search and Filter Controls"
>
  <div class="controls-container">
    <div class="search-wrapper">
    <form method="get" action="{% url 'saved_places_view' %}">
      <input
        type="text"
        name="q"
        class="search-input"
        placeholder="Search saved places..."
        aria-label="Search saved places"
      />
      <button type="submit" class="search-icon" aria-hidden="true">🔍</button>
    </form>
    </div>
  </div>
</section>
