{% extends 'base/main.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block header_display %}
    {% include 'base/header.html' with authed=True active='dashboard' %}
{% endblock %}

{% block content %}
<main class="dashboard" role="main">

    {% include 'authed/dashboard/header.html'%}
    {% include 'authed/dashboard/summary.html'%}
    {% include 'authed/dashboard/recents.html'%}
    {% include 'authed/dashboard/highlights.html'%}
    {% include 'authed/dashboard/cta.html'%}

</main>
{% endblock %}

{% block footer_display %}
    {% include 'base/footer.html' with authed=True only %}
{% endblock %}