/* Responsive */
@media (max-width: 900px) {
    .header__links {
        display: none;
    }

    .header__mobile-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header__container{
        padding: 0px;
    }

    .header__btn{
        font-size: .7em;
    }

    .header__actions {
        gap: .5rem;
    }
}